240.0.0.0/4 may become available for public use

RFC 1112, Section 4, initially set aside `240.0.0.0/4` (a class E) as "Reserved", meaning it was not available for public allocation/use by RIRs.

Since this range has never seen use before and with the current shortage of IPv4 address, an RFC has been tabled to reclassify this range: https://datatracker.ietf.org/doc/draft-schoen-intarea-unicast-240/. Should that happen the range should automatically get removed from the special purpose registry but we should keep an eye out for how that's encoded and if necessary update ssrfgen to handle it.

Looks like this has been abandoned. The ID made it to draft 9 but is now listed as expired and archived.